body{
    background-color: antiquewhite;
    padding: 20px;
}
.container{
    background-color: rgb(92, 119, 194);
    min-width: 400px;
    min-height:350px;
    border-radius: 3%;
     padding-bottom: 4px; 

}
.row{
    
    margin: 0px;
     padding-top: 2px;
     padding-bottom: 2px;
}
.cell{
    border-radius: 100%;
    height: 17%;
    background-clip: padding-box;
     margin:0px; 
    margin-bottom: 7px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgb(168, 161, 161) inset;

}

.col{
    margin-top: 5px;
    margin-bottom: 9px;
    padding-bottom: 40px;
     margin-left: 0px ;
}

.lastC{
    margin-right: 0px
}

.col-hover {
    background-color: rgb(132, 152, 206);
    border-radius: 3%;
    padding-bottom: 49px;
    margin-bottom: 0px;
}



.b{
    padding-bottom: 10px;
}

.firstPlayer{
   background-color: rgb(255, 49, 35);
   box-shadow: inset 0 0 10px #811010;
   border: crimson 3px solid;
   border-radius: 300%;

}

.secondPlayer{
    background-color: rgb(252, 255, 64);
    box-shadow: inset 0 0 10px #777912;
    border: rgba(197, 194, 7, 0.918) 3px solid;
    border-radius:100%;
}

.card{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.winner-box {
    text-align: center;
    width: 400px;
    margin: 10px auto;
    padding: 20px 5px;
}

.play-again {
    width: 150px;
    margin: 0 auto 5px;
    padding: 6px 10px;
}
